:root{

}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: url(images/reg_img.jpg);
}
#wrapper{
width: 70%;
height: 50px;
background-color: aliceblue;
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 380px;
    height: 660px;
    background-color: white;
    border-radius: 20px;
   transform: translate(-50%, -50%);
   text-align: center;
   
}

input, select{
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    border-radius: 10px; 
    padding: 12px 14px;
    font-size: 15px;
    width: 300px;
    margin: 7px 0px;
}

input[type = "checkbox"] {
    padding: px;
    width: 0px;

}

input[type = submit]{
    background-color:skyblue;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

select{
    width: 330px;
    
}

#terms, #sign_in{
   margin-top: 15px;
}

a{
    text-decoration: none;
    color: skyblue;
}

#logo{
    width: 120px;
    height: 150px;
    position: absolute;
    top: -75px;
    left: calc(50% - 50px);
}

#instruction{
    margin-top: 80px;
    margin-bottom: 10px;
    color: skyblue;
}